@import "compass";
@import "../import/sanitize.scss";

.slideBody {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	.prev,
	.next {
		width: 32px;
		margin: 0 5px;
	}
	.photo {
		width: 640px;
	}
}
