@import "compass";
@import "../import/sanitize.scss";

.slideBody {
	width: 100%;
	display: -webkit-box;
	display: box;
	.prev,
	.next {
		width: 32px;
		margin: 0 5px;
		position: relative;
		.prevImg,
		.nextImg {
			position: absolute;
			top: 50%;
		}
	}
	.photo {
		width: 640px;
		overflow: hidden;
		@include transition(opacity 0.1s linear 0s);
		opacity: 1;
		.slidePhotos {
			width: 100%;
		}
		
	}
}

.circles {
	display: -webkit-box;
	display: box;
	margin: 10px auto;
	.circle {
		width: 16px;
		height: 16px;
		background-color: #999;
		@include border-radius(50%);
		margin: 0 3px;
		.ln {
			display: block;
			text-indent: -9999px;
			cursor: pointer;
		}
	}
	.now {
		background-color: #333;
	}
}
